@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        @apply scroll-smooth;
    }
}

@layer components {
    .reading-list-selection-button {
        background-color:#642B62;
        padding: 12px 20px;
        text-align: center;
        font-weight: bolder;
        color: #FFF8ED;
        border: 1px solid black;
        border-radius: 10px;
    }
}